<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{_layouts/base :: head(~{::title})}">
    <title th:fragment="title">Novo Jogo</title>
</head>

<body>
    <main th:replace="~{_layouts/base :: layout(~{::content})}">
        <div th:fragment="content">

            <div class="p-3" style="min-height: 600px;">

                <h2 class="text-primary mb-3">Cadastrar Novo Jogo</h2>

                <form th:action="@{/jogos}" th:object="${jogo}" method="post" class="row g-3">

                    <div class="col-md-6">
                        <label class="form-label">Título</label>
                        <input type="text" class="form-control" th:field="*{titulo}"
                            placeholder="Ex: Dark Souls, The Witcher, Terraria">

                        <div class="text-danger" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Gênero</label>
                        <input type="text" class="form-control" th:field="*{genero}"
                            placeholder="Ex: Ação, RPG, Aventura">

                        <div class="text-danger" th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}"></div>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Estúdio</label>
                        <input type="text" class="form-control" th:field="*{estudio}"
                            placeholder="Ex: Capcom, FromSoftware, CD Projekt Red">

                        <div class="text-danger" th:if="${#fields.hasErrors('estudio')}" th:errors="*{estudio}"></div>
                    </div>

                    <div class="col-12 mt-3">
                        <button class="btn btn-primary" type="submit">Salvar</button>
                        <a class="btn btn-secondary" th:href="@{/jogos}">Cancelar</a>
                    </div>

                </form>

            </div>

        </div>
    </main>
</body>

</html>