<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<!-- replacing the head with title -->

<head th:replace="~{_layouts/base :: head(~{::title})}">
    <title th:fragment="title">Novo Jogo</title>
</head>

<body>
    <!-- replacing the main content -->
    <main th:replace="~{_layouts/base :: layout(~{::content})}">
        <div th:fragment="content">
            <div style="min-height: 600px" class="p-3">
                <!-- method post - object name is the same of controller, product!
action directing to endpoint to save -->
                <form th:action="@{/jogos}" th:object="${jogo}" method="post" class="row g-3">
                    <input type="hidden" th:field="*{id}" th:if="*{id} != null" />
                    <div class="col-md-6">
                        <label class="form-label">Título</label>
                        <!--the field is the same name of object attribute -->
                        <input type="text" class="form-control" th:field="*{titulo}" required>

                        <label class="form-label">Gênero</label>
                        <!--the field is the same name of object attribute -->
                        <input type="text" class="form-control" th:field="*{genero}" required>

                        <label class="form-label">Estúdio</label>
                        <!--the field is the same name of object attribute -->
                        <input type="text" class="form-control" th:field="*{estudio}" required>
                    </div>

                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Salvar</button>
                        <button class="btn btn-secondary" type="reset">Limpar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>

</html>