<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{_layouts/base :: head(~{::title})}">
    <title th:fragment="title">Jogos</title>
</head>

<body>
    <main th:replace="~{_layouts/base :: layout(~{::content})}">

        <div th:fragment="content">

            <!-- Adicionando notificação de suceeso/erro ao excluir jogo com inimigos associados -->
            <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
            <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>

            <div class="p-3" style="min-height: 600px;">
                <h1 class="text-primary">Jogos</h1>
                <hr>

                <a th:href="@{/jogos/create}" class="btn btn-primary mb-3">Adicionar Jogo</a>

                <!-- Tabela de Jogos -->
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Título</th>
                            <th>Gênero</th>
                            <th>Estúdio</th>
                            <th class="text-center" colspan="3">Operações</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="jogo : ${jogos}">
                            <td th:text="${jogo.id}"></td>
                            <td th:text="${jogo.titulo}"></td>
                            <td th:text="${jogo.genero}"></td>
                            <td th:text="${jogo.estudio}"></td>

                            <td class="text-center">
                                <button class="btn btn-secondary btn-sm btn-visualizar" th:attr="data-id=${jogo.id}">
                                    Visualizar
                                </button>
                            </td>
                            <td class="text-center">
                                <a th:href="@{/jogos/{id}/edit(id=${jogo.id})}" class="btn btn-info btn-sm">
                                    Editar
                                </a>
                            </td>

                            <td class="text-center">
                                <form th:action="@{/jogos/{id}(id=${jogo.id})}" method="post"
                                    class="delete-form d-inline">

                                    <input type="hidden" name="_method" value="delete">
                                    <button class="btn btn-danger btn-sm" type="submit">
                                        Excluir
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Implementando a Paginação -->
            <div class="d-flex justify-content-center mt-4">
                <nav>
                    <ul class="pagination">

                        <!-- Botão Anterior -->
                        <li class="page-item" th:classappend="${pagina.first} ? 'disabled'">
                            <a class="page-link" th:href="@{/jogos(page=${pagina.number - 1}, size=${pagina.size})}">
                                Anterior
                            </a>
                        </li>

                        <!-- Números -->
                        <li class="page-item" th:each="i : ${#numbers.sequence(0, pagina.totalPages - 1)}"
                            th:classappend="${pagina.number == i} ? 'active'">
                            <a class="page-link" th:text="${i + 1}" th:href="@{/jogos(page=${i}, size=${pagina.size})}">
                            </a>
                        </li>

                        <!-- Próximo -->
                        <li class="page-item" th:classappend="${pagina.last} ? 'disabled'">
                            <a class="page-link" th:href="@{/jogos(page=${pagina.number + 1}, size=${pagina.size})}">
                                Próximo
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>

            <!-- Fim - Paginação -->

            <!-- Implementando o Modal -->
            <div class="modal fade" id="modalJogo" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title">Detalhes do Jogo</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <div class="modal-body">
                            <p><strong>Título:</strong> <span id="modal-titulo"></span></p>
                            <p><strong>Gênero:</strong> <span id="modal-genero"></span></p>
                            <p><strong>Estúdio:</strong> <span id="modal-estudio"></span></p>
                        </div>

                    </div>
                </div>
            </div>
            <!--  Fim - Modal -->

            <!-- Toast de mensagens -->
            <div th:replace="~{_fragments/toast :: toast(${message})}"></div>

        </div>
    </main>

    <!-- importando os JS's -->
    <script th:src="@{/js/modal.js}"></script>
    <script th:src="@{/js/jogo-visualizar.js}"></script>
    <script th:src="@{/js/conf-del-jogo.js}"></script>
</body>

</html>