<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<!-- replacing the head with title -->

<head th:replace="~{_layouts/base :: head(~{::title})}">
    <title th:fragment="title">Jogos</title>
</head>

<body>
    <!-- replacing the main content -->
    <main th:replace="~{_layouts/base :: layout(~{::content})}">
        <div th:fragment="content">
            <div style="min-height: 600px" class="p-3">
                <h1 class="text-primary">Jogos</h1>
                <hr>
                <!-- redirect to page with form to create a Category -->
                <a th:href="@{/jogos/create}" class="btn btn-primary">Adicionar Jogo</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Título</th>
                            <th>Gênero</th>
                            <th>Estúdio</th>
                            <th colspan="3">Operações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- iterates the list (variable) received -->
                        <tr th:each="jogo : ${jogos}">
                            <td th:text="${jogo.id}"></td>
                            <td th:text="${jogo.titulo}"></td>
                            <td th:text="${jogo.genero}"></td>
                            <td th:text="${jogo.estudio}"></td>
                            <td><button class="btn btn-primary">Visualizar</button></td>
                            <td>
                                <a th:href="${'/jogos/' + jogo.id + '/edit'}" class="btn btn-info">Editar</a>
                            </td>
                            <td>
                                <!-- Form to delete - the action direct to endpont to delete, and define the path variable -->
                                <form class="delete-form" th:action="@{/jogos/{id}(id=${jogo.id})}" method="post">
                                    <!-- hidden method to define the correct HTTP verb - delete. -->
                                    <input type="hidden" name="_method" value="delete">
                                    <button type="submit" class="btn btn-danger">
                                        Excluir
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- fragment to show toast message -->
            <div th:replace="~{_fragments/toast :: toast(${message})}"></div>
        </div>
    </main>
</body>

</html>