<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{_layouts/base :: head(~{::title})}">
    <title th:fragment="title">Novo Inimigo</title>
</head>

<body>
    <main th:replace="~{_layouts/base :: layout(~{::content})}">
        <div th:fragment="content">
            <div style="min-height: 600px" class="p-3">

                <form th:action="@{/inimigos}" th:object="${inimigo}" method="post" class="row g-3">
                    <input type="hidden" th:field="*{id}" th:if="*{id} != null" />
                    <div class="col-md-6">
                        <label class="form-label">Nome</label>
                        <input type="text" class="form-control" th:field="*{nome}" required>

                        <label class="form-label">Espécie</label>
                        <input type="text" class="form-control" th:field="*{especie}" required>

                        <label class="form-label">Dificuldade</label>
                        <input type="text" class="form-control" th:field="*{dificuldade}" required>

                        <label class="form-label">Ataque Especial</label>
                        <input type="text" class="form-control" th:field="*{ataque_especial}" required>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Jogo</label>
                        <select class="form-select" th:field="*{jogo_id}" required>
                            <option value="" disabled selected>Selecione...</option>
                            <option th:each="jogo : ${jogos}" th:value="${jogo.id}" th:text="${jogo.titulo}"></option>
                        </select>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Salvar</button>
                        <button class="btn btn-secondary" type="reset">Limpar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>

</html>