<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{_layouts/base :: head(~{::title})}">
    <title th:fragment="title">Inimigos</title>
</head>

<body>
    <main th:replace="~{_layouts/base :: layout(~{::content})}">
        <div th:fragment="content">
            <div style="min-height: 600px" class="p-3">
                <h1 class="text-primary">Inimigos</h1>
                <hr>
                <a th:href="@{/inimigos/create}" class="btn btn-primary mb-3">Adicionar Inimigo</a>
                <table class="table table-striped table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Espécie</th>
                            <th>Dificuldade</th>
                            <th>Ataque Especial</th>
                            <th>Jogo</th>
                            <th class="text-center" colspan="6">Operações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- iterates the list (variable) received -->
                        <tr th:each="inimigo : ${inimigos}">
                            <td th:text="${inimigo.id}"></td>
                            <td th:text="${inimigo.nome}"></td>
                            <td th:text="${inimigo.especie}"></td>
                            <td th:text="${inimigo.dificuldade}"></td>
                            <td th:text="${inimigo.ataque_especial}"></td>
                            <td th:text="${inimigo.jogo_titulo}"></td>
                            <td>
                                <button class="btn btn-secondary btn-sm btn-visualizar" th:attr="data-id=${inimigo.id}">
                                    Visualizar
                                </button>
                            </td>

                            <td>
                                <a th:href="${'/inimigos/' + inimigo.id + '/edit'}" class="btn btn-info">Editar</a>
                            </td>
                            <td>
                                <!-- Form to delete - the action direct to endpont to delete, and define the path variable -->
                                <form class="delete-form" th:action="@{/inimigos/{id}(id=${inimigo.id})}" method="post">
                                    <!-- hidden method to define the correct HTTP verb - delete. -->
                                    <input type="hidden" name="_method" value="delete">
                                    <button type="submit" class="btn btn-danger">
                                        Excluir
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Implementando a Paginação -->
            <div class="d-flex justify-content-center mt-4">
                <nav>
                    <ul class="pagination">

                        <!-- Botão Anterior -->
                        <li class="page-item" th:classappend="${pagina.first} ? 'disabled'">
                            <a class="page-link" th:href="@{/inimigos(page=${pagina.number - 1}, size=${pagina.size})}">
                                Anterior
                            </a>
                        </li>

                        <!-- Números -->
                        <li class="page-item" th:each="i : ${#numbers.sequence(0, pagina.totalPages - 1)}"
                            th:classappend="${pagina.number == i} ? 'active'">
                            <a class="page-link" th:text="${i + 1}" th:href="@{/inimigos(page=${i}, size=${pagina.size})}">
                            </a>
                        </li>

                        <!-- Próximo -->
                        <li class="page-item" th:classappend="${pagina.last} ? 'disabled'">
                            <a class="page-link" th:href="@{/inimigos(page=${pagina.number + 1}, size=${pagina.size})}">
                                Próximo
                            </a>
                        </li>

                    </ul>
                </nav>
            </div>

            <!-- Fim - Paginação -->

            <!-- Implementando o Modal -->
            <div class="modal fade" id="modalInimigo" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title">Detalhes do Inimigo</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <div class="modal-body">
                            <p><strong>Nome:</strong> <span id="modal-nome"></span></p>
                            <p><strong>Espécie:</strong> <span id="modal-especie"></span></p>
                            <p><strong>Dificuldade:</strong> <span id="modal-dificuldade"></span></p>
                            <p><strong>Ataque Especial:</strong> <span id="modal-ataque"></span></p>
                        </div>

                    </div>
                </div>
            </div>
            <!--  Fim - Modal -->

            <!-- fragment to show toast message -->
            <div th:replace="~{_fragments/toast :: toast(${message})}"></div>
        </div>

    </main>

    <!-- importando os JS's -->
    <script th:src="@{/js/modal.js}"></script>
    <script th:src="@{/js/inimigo-visualizar.js}"></script>
    <script th:src="@{/js/conf-del-inimigo.js}"></script>
</body>

</html>